spring:
  application:
    name: mahalaxmi-ecommerce
  
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/mahalaxmi_ecommerce}
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false
    open-in-view: false
  
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: ${PORT:8080}
  error:
    include-message: always
    include-binding-errors: always

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B59703373367639792442264529482B4D6251655468576D5A7134743777217A25432A462D4A614E645267556B58703273357638792F423F4528482B4D6251655368566D5971337436773979244226452948404D635166546A57}
      expiration: 86400000
      refresh-token:
        expiration: 604800000

logging:
  level:
    com.mahalaxmi: INFO
    org.springframework.web: INFO
    org.hibernate: WARN
